# intellij configs
.idea/

# data
/process/conversions/
/simulate/simulations/
/simulate/tmp/
/models/saved_models

# tmp files
/simulate/msms/tmp_settings
/simulate/slim/tmp_settings

# py files
modify_path.py